In [1]:
import pandas as pd

In [2]:
df=pd.read_pickle('./output/DataSetAudios.pkl')

In [3]:
df.head()

,name,gender,1SecArray,fft+mfcc
0,AlfonsoPastor,1,"[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, ...","[0.0, 11.711617297764233, 11.869336626669046, ..."
1,AlfonsoPastor,1,"[-1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[25.0, 6.79575338637578, 10.757025437312208, 7..."
2,AlfonsoPastor,1,"[0, 0, -1, 0, 0, 0, 0, 0, 1, -1, 0, 0, 0, 0, 0...","[5.0, 8.524615885069814, 6.410072855905021, 13..."
3,AlfonsoPastor,1,"[0, 0, 1, -1, -1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0...","[2.0, 10.099661416993404, 14.135408603698677, ..."
4,AlfonsoPastor,1,"[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, -1, 0, 1, 0, 1,...","[4.0, 3.553700286459984, 3.8159562717313116, 7..."

In [43]:
import array
y=df['name']
#filt = array.array('h')
#df['fft+mfcc']=filt.fromlist(list(map(int,df['fft+mfcc'][0])))
X=list(map(lambda x: x,df['fft+mfcc']))

In [44]:
from sklearn import datasets, svm, metrics
from sklearn.model_selection import train_test_split

In [45]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

In [46]:
from sklearn.ensemble import RandomForestClassifier

In [47]:
clf=RandomForestClassifier()
clf.fit(X_train, y_train)
y_pred=clf.predict(X_test)

/usr/local/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [48]:
prueba=pd.DataFrame({'gt':y_test,
                    'pred':y_pred})

In [49]:
prueba

                  gt             pred
79      JoaquinPerez     JoaquinPerez
323            SeoRa            SeoRa
897     MariaVerdejo     MariaVerdejo
437  JorgeLopezMingo  JorgeLopezMingo
530   BegoEchavarren   BegoEchavarren
..               ...              ...
696    CesarCastares    CesarCastares
77      JoaquinPerez     JoaquinPerez
207         MarioBru         MarioBru
714    CesarCastares    CesarCastares
121     JoaquinPerez     JoaquinPerez

[182 rows x 2 columns]

In [ ]:
precision 
rockcurve
f1score

In [52]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from IPython.core.display import display, HTML

In [55]:
import time
'''moment=time.localtime()
name='Model_{}_{}-{}-{}.h5'.format(clf.history.history["val_accuracy"][-1],moment[2],moment[3],moment[4])
clf.save(name)

import json

model_json = clf.to_json()
with open(name+'.json', "w") as json_file:
    json.dump(model_json, json_file)
'''
clf.save_weights(name+'.h5')

AttributeError: 'RandomForestClassifier' object has no attribute 'save_weights'

In [56]:
import pickle
pickle.dump(clf, open('primer_modelo', 'wb'))